In [744]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

import itertools as it

In [745]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
544,tt0250687,48000000,85498534,Rat Race,Cuba Gooding Jr.|Seth Green|Whoopi Goldberg|Br...,Jerry Zucker,563 miles. 9 people. $2 million. 1001 problems!,"In an ensemble film about easy money, greed, m...",112,Adventure|Comedy,Paramount Pictures|Fireworks Pictures|Alphavil...,7/30/2001,5.9,2001
583,tt0132245,94000000,54744738,Driven,Kip Pardue|Robert Sean Leonard|Til Schweiger|E...,Renny Harlin,Get ready for the race of your life.,Talented rookie race-car driver Jimmy Bly has ...,116,Action,Epsilon Motion Pictures|Franchise Pictures|Tra...,4/27/2001,4.8,2001
636,tt0455824,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,11/18/2008,6.3,2008
1376,tt0397101,43000000,91974818,The Skeleton Key,Kate Hudson|Gena Rowlands|Peter Sarsgaard|John...,Iain Softley,Fearing Is Believing,A hospice nurse working at a spooky New Orlean...,104,Drama|Horror|Mystery|Thriller,Universal Pictures|MFPV Film|Double Feature Fi...,7/29/2005,6.3,2005
224,tt2771372,6000000,3485127,Veronica Mars,Kristen Bell|Jason Dohring|Enrico Colantoni|Ch...,Rob Thomas,She thought she was out,Years after walking away from her past as a te...,107,Comedy|Drama|Crime,Warner Bros.|Warner Bros. Interactive Entertai...,3/13/2014,6.3,2014

In [746]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [747]:
answers = {}

In [748]:
data['profit']=data.revenue-data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [749]:

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'

In [750]:
data.original_title[data.budget==data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [751]:

answers['2'] = '2. Gods and Generals (tt0279111)'

In [752]:
data.original_title[data.runtime==data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [753]:

answers['3'] = '3. Winnie the Pooh'

In [754]:
data.original_title[data.runtime==data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [755]:
answers['4'] = '2. 110'

In [756]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [757]:
answers['5'] = '1. 107'

In [758]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [759]:
answers['6'] = '5. Avatar'

In [760]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [761]:
answers['7'] = '5. The Lone Ranger'

In [762]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [763]:
answers['8'] = '1. 1478'

In [764]:
len(data.original_title[data.profit >0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [765]:
answers['9'] = '4. The Dark Knight'

In [766]:
year_2008 = data[data.release_year == 2008]
movie = year_2008[year_2008.revenue == year_2008.revenue.max()].original_title
movie

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [767]:
answers['10'] = '5. The Lone Ranger'

In [768]:
year = data[data.release_year.isin([2012,2013,2014])]
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [769]:
answers['11'] = '3. Drama'

In [770]:

data_11 = data.copy()
data_11['genres'] = data_11['genres'].str.split('|')
data_11 = data_11.explode('genres')
data_11.groupby(by = 'genres').count().sort_values('imdb_id',ascending=False).index[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [771]:
answers['12'] = '1. Drama'

In [772]:
data_12= data.copy()
data_12['genres'] = data_12['genres'].str.split('|')
data_12 = data_12.explode('genres')

data_12[data_12['profit'] > 0].groupby(by='genres')['profit'].count().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [773]:
answers['13'] = '5. Peter Jackson'

In [774]:
data_13= data.copy()
data_13['director'] = data_13['director'].str.split('|')
data_13 = data_13.explode('director')
data_13.groupby(by='director').sum('profit').sort_values(by='profit', ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [775]:
answers['14'] = '3. Robert Rodriguez'

In [776]:
data_14= data.copy()
data_14['director'] = data_14['director'].str.split('|')
data_14 = data_14.explode('director')

data_14['genres'] = data_14['genres'].str.split('|')
data_14 = data_14.explode('genres')
data_14[data_14['genres'] == 'Action'].director.value_counts().sort_values(ascending = False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [777]:
answers['15'] = '3. Chris Hemsworth'

In [778]:
data_15= data.copy()
data_15['cast'] = data_15['cast'].str.split('|')
data_15 = data_15.explode('cast')
data_15[data_15['release_year'] == 2012].groupby(by = 'cast').sum('profit').sort_values(by='profit', ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [779]:
answers['16'] = '3. Matt Damon'

In [780]:
data_16 = data.copy()
data_16['cast'] = data_16['cast'].str.split('|')
data_16 = data_16.explode('cast')
data_16[data_16['budget'] > data_16['budget'].mean()].groupby(by = 
                                                              'cast')['original_title'].count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [781]:
answers['17'] = '2. Action'

In [782]:
data_17 = data.copy()
data_17['cast'] = data_17['cast'].str.split('|')
data_17 = data_17.explode('cast')

data_17['genres'] = data_17['genres'].str.split('|')
data_17 = data_17.explode('genres')

data_17[data_17['cast'] == 'Nicolas Cage'].groupby(by = 'genres')['cast'].count().sort_values(ascending = False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [783]:
answers['18'] = '1. K-19: The Widowmaker'

In [784]:
data_18 = data.copy()
data_18['production_companies'] = data_18['production_companies'].str.split('|')
data_18 = data_18.explode('production_companies')
data_18[data_18['production_companies'] == 'Paramount Pictures'].sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [785]:
answers['19'] = '1. 2015'

In [786]:
data_19 = data.copy()

data_19.groupby(by = 'release_year').sum().sort_values(by='profit', ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [787]:
answers['20'] = '1. 2014'

In [788]:
data_20 = data.copy()
data_20['production_companies'] = data_20['production_companies'].str.split('|')
data_20 = data_20.explode('production_companies')
data_WB = data_20[data_20.production_companies.str.contains('Warner Bros')]
data_WB.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [789]:
answers['21'] = '4. 9'

In [806]:
data_month = data.copy()
data_month['release_date'] = data_month.release_date.dt.month
#data_month['month'] = data_month['release_date'].apply(lambda x: x[0])
#data_month.month.value_counts()
data_month.groupby(by = 'release_date').count().sort_values(by='imdb_id', ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [791]:
answers['22'] = '2. 450'

In [807]:
data_21=data.copy()

#len(data_21['release_date'].dt.month.isin([6,7,8]))
len(data_21[data_21.release_date.dt.month.isin([6,7,8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [793]:
answers['23'] = '5. Peter Jackson'

In [808]:
winter_director = data.copy()
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')

winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director['release_date'].dt.month.isin([12, 1, 2])
winter_director.groupby('director')['release_date'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [795]:
answers['24'] = '1. Universal Pictures'

In [809]:
data_24 = data.copy()
data_24['title_len']= data_24.overview.map(lambda x: len(x.split(' ')))

data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')

#data_24[data_24['title_len'] > data_24['title_len'].mean()]
data_24.groupby('production_companies')['title_len'].sum().sort_values(ascending=False).index[0]

'Universal Pictures'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [797]:
answers['25'] = '3. Midnight Picture Show'

In [798]:
data_25 = data.copy()
data_25['overview_words_length'] = data_25.overview.map(lambda x: len(x.split(' ')))

data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')

data_25.groupby('production_companies')['overview_words_length'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [799]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [800]:
data.original_title[data.vote_average.quantile(.99) < data.vote_average].index[0]

9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [801]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

In [802]:
data['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data.cast_comb.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [803]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '1. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '1. Universal Pictures',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [810]:
len(answers)

27